# docker-compose.yml pour le projet Valorisation de Brevet

#yaml
version: '3.9'

services:
  db:
    image: postgres:16
    container_name: postgres_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: valoris_app
    depends_on:
      - db
    ports:
      - "5500:5500"
    env_file:
      - .env
    volumes:
      - .:/app
    command: ["uvicorn", "server:app", "--host", "0.0.0.0", "--port", "5500", "--reload"]

volumes:
  postgres_data:

